*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width:100%;
}
body{
    background: #9796f0;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#intro-text{
    margin: 100px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 2rem;
    height: 45%;
    width: 35%;
}
#buttons{
    padding:10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#inc{
    
    margin:10px 10px;
    padding:5px;
    border-radius: 1rem;
    background-color:greenyellow;
    color: black;
}
#dec{
    margin:10px 10px;
    padding:5px;
    border-radius: 1rem;
    background-color: red;
    color: silver;
}
#res{
    margin:10px 10px;
    padding:5px;
    margin-left: 72px;
    border-radius: 1rem;
    background-color: black;
    color: silver;
}
#cntr{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
#sav{
    margin:10px 10px;
    padding:5px;
    margin-left: 72px;
    border-radius: 1rem;
    background-color: black;
    color: silver;
}